streamlit>=1.25.0
pandas>=2.1.0
PyMuPDF>=1.22.5
langchain>=0.1.0
langchain-groq>=0.0.2
langchain-community>=0.0.7
sentence-transformers>=2.2.2
torch>=2.1.0
faiss-cpu>=1.7.4
python-dotenv>=1.0.0
